In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

#modelling & consulting
import statsmodels
import seaborn as sns
import sqlite3

In [3]:
conn = sqlite3.connect('../queries/retail.db')
df_agg_world = pd.read_sql_query("SELECT * FROM country_consumption", conn)
conn.close()

df_agg_world.head()

,Country,total_items,unique_items,avg_price_unit,total_revenue,ARPU
0,United Kingdom,246630,3657,2.96,6811580.41,27.62
1,Netherlands,1149,783,2.76,283273.14,246.54
2,EIRE,3100,1949,3.40,251406.40,81.10
3,Germany,6600,1669,2.69,200808.40,30.43
4,France,5711,1521,2.70,181658.33,31.81

In [ ]:
#first simple visualization of the dataset with metric ARPU (scope of the world)