In [7]:
import pandas as pd
import numpy as np
import statsmodels
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [11]:
import chardet

with open('./data.csv', 'rb') as f:
    result = chardet.detect(f.read())

encoding = result['encoding']

In [14]:
df = pd.read_csv('./data.csv', encoding=encoding)
df.shape

(541909, 8)

In [42]:
df.isna().sum()

null_df = df[df['CustomerID'].isna()]
null_df['Country'].value_counts(normalize=True)
df = df.dropna(subset=['CustomerID'])
print(df.shape)
df

(406829, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [82]:
df['Country'].value_counts(normalize=True)[10:]

df['total_sales'] = df['Quantity'].multiply(df['UnitPrice'])
df = df[['CustomerID', 'StockCode', 'InvoiceNo', 'InvoiceDate', 'UnitPrice', 'Quantity', 'total_sales', 'Country', 'Description']]

def transforming_categorics(to_cat=None, to_int =None, to_str=None, to_date=None, data_base=None):
    if data_base is None:
        return (print("put of your database to transforming"))
    if to_cat:
        for i in to_cat:
            data_base[i] = data_base[i].astype("category")
    if to_int:
        for j in to_int:
            data_base[j] = data_base[j].astype(int)
    if to_str:
        for k in to_str:
            data_base[k] = data_base[k].astype(str)
    if to_date:
        for d in to_date:
            data_base[d] = pd.to_datetime(data_base[d], format="%d/%m/%Y %H:%M", errors='coerce')
    return data_base

df = transforming_categorics(to_cat=["Description"], to_int=["CustomerID"], to_str=["Country"], to_date=['InvoiceDate'], data_base=df)
df.dtypes

CustomerID              int64
StockCode              object
InvoiceNo              object
InvoiceDate    datetime64[ns]
UnitPrice             float64
Quantity                int64
total_sales           float64
Country                object
Description          category
dtype: object

In [81]:
print(df['InvoiceDate'].head())

0    12/1/2010 8:26
1    12/1/2010 8:26
2    12/1/2010 8:26
3    12/1/2010 8:26
4    12/1/2010 8:26
Name: InvoiceDate, dtype: object